In [2]:
import pandas as pd
import numpy as np

In [3]:
sub_filtered = pd.read_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/data_preprocessing/valid_full_sub.csv')
sub_cs = sub_filtered[sub_filtered.BRAND=='ChillStream']
sub_cs[sub_cs.ID=='020TBXH154']

,Unnamed: 0,ID,BRAND,SUB_STATUS,TERM,AMOUNT,PARTITION_DATE,YEAR_MONTH,VALID_TRANSITION
2736,4480,020TBXH154,ChillStream,expired,monthly,24.99,2022-02-16,2022-02,True
2737,4481,020TBXH154,ChillStream,paid,monthly,24.99,2022-04-29,2022-04,True
2738,4484,020TBXH154,ChillStream,expired,monthly,24.99,2022-11-06,2022-11,True
2739,4485,020TBXH154,ChillStream,paid,monthly,25.00,2023-01-30,2023-01,True

In [4]:
def calc_rev(df, start, end):
    full_agg_data = []
    full_grouped = df.groupby(['ID', 'BRAND'])

    for (id_brand, group) in full_grouped:
        group = group.reset_index(drop=True)

        start_date = start
        end_date = end
        sub_detail = ''
        revenue = 0
        amount = 0
        
        for i, row in group.iterrows():
            sub_status = row['SUB_STATUS']
            partition_date = row['PARTITION_DATE']
                
            if sub_status in ['trial', 'discounted']:
                start_date = partition_date
                sub_detail = row['SUB_STATUS'] + ' ' + row['TERM']
                amount = row['AMOUNT']
                term = row['TERM']

            elif sub_status == 'paid':
                if amount != 0:
                    duration = (partition_date - start_date).days
                    if row['TERM'] == 'monthly':
                        revenue += np.ceil(duration / 30) * amount
                    else:
                        revenue += np.ceil(duration / 365) * amount

                start_date = partition_date
                sub_detail = row['SUB_STATUS'] + ' ' + row['TERM']
                amount = row['AMOUNT']
                term = row['TERM']
                    
            else:
                end_date = partition_date
                duration = (end_date - start_date).days
                if start_date == start:
                    sub_detail = row['SUB_STATUS'] + ' ' + row['TERM']
                    if duration == 0:
                        end_date = end
                        continue
                    else:
                        amount = row['AMOUNT']
                
                if row['TERM'] == 'monthly':
                    revenue += np.ceil(duration / 30) * amount
                else:
                    revenue += np.ceil(duration / 365) * amount

                full_agg_data.append({
                    'ID': id_brand[0],
                    'BRAND': id_brand[1],
                    'SUB_DETAIL': sub_detail,
                    'AMOUNT': amount,
                    'START_DATE': start_date,
                    'END_DATE': end_date,
                    'DURATION': duration,
                    'REVENUE': revenue
                })            
                start_date = partition_date
                end_date = end
                amount = 0

        if amount != 0:
            duration = (end_date - start_date).days
            if term == 'monthly':
                revenue = np.ceil(duration / 30) * amount
            else:
                revenue = np.ceil(duration / 365) * amount
            
            full_agg_data.append({
                        'ID': id_brand[0],
                        'BRAND': id_brand[1],
                        'SUB_DETAIL': sub_detail,
                        'AMOUNT': amount,
                        'START_DATE': start_date,
                        'END_DATE': end_date,
                        'DURATION': duration,
                        'REVENUE': revenue
                    })

    full_agg = pd.DataFrame(full_agg_data)
    return full_agg

In [5]:
sub_filtered['PARTITION_DATE'] = pd.to_datetime(sub_filtered['PARTITION_DATE'])

sub_rev = calc_rev(sub_filtered, start=pd.to_datetime('2022-01-01'), end=pd.to_datetime('2023-12-31'))
sub_rev

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47,60.00
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2023-10-28,525,599.82
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56,22.36
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2023-10-17,512,120.00
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104,48.00
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91,31.92
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2023-03-02,425,120.00
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39,59.99
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2023-12-31,702,720.24
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99,50.00

In [18]:
sub_rev.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/full_rev.csv')

In [6]:
start_2022, end_2022 = pd.to_datetime('2022-01-01'), pd.to_datetime('2022-12-31')
sub_2022 = sub_filtered[(sub_filtered['PARTITION_DATE'] >= start_2022) & (sub_filtered['PARTITION_DATE'] <= end_2022)]
sub_rev_2022 = calc_rev(sub_2022, start=start_2022, end=end_2022)
sub_rev_2022

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47,60.00
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2022-12-31,224,239.92
2,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2022-12-31,222,60.00
3,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104,48.00
4,000DJKK225,CineQuest,paid monthly,12.00,2022-07-17,2022-12-31,167,72.00
...,...,...,...,...,...,...,...,...
60173,999WJDL067,ChillStream,paid monthly,25.01,2022-11-25,2022-12-31,36,50.02
60174,999WMMD928,LimeLight,paid annual,80.00,2022-05-31,2022-12-31,214,80.00
60175,999WVJU110,Pulse,expired monthly,8.00,2022-01-01,2022-04-21,110,32.00
60176,999WVJU110,Pulse,paid monthly,8.01,2022-09-14,2022-12-31,108,32.04
60177,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2022-12-31,337,360.12

In [74]:
merge_columns = ['ID', 'BRAND', 'SUB_DETAIL', 'START_DATE', 'AMOUNT']
sub_rev_merged = pd.merge(sub_rev, sub_rev_2022, on=merge_columns, how='left', suffixes=('_full', '_2022'))
sub_rev_merged

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE_full,DURATION_full,REVENUE_full,END_DATE_2022,DURATION_2022,REVENUE_2022
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47,60.00,2022-02-17,47.0,60.00
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2023-10-28,525,599.82,2022-12-31,224.0,239.92
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56,22.36,NaT,NaN,NaN
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2023-10-17,512,120.00,2022-12-31,222.0,60.00
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104,48.00,2022-04-15,104.0,48.00
...,...,...,...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91,31.92,NaT,NaN,NaN
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2023-03-02,425,120.00,NaT,NaN,NaN
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39,59.99,NaT,NaN,NaN
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2023-12-31,702,720.24,2022-12-31,337.0,360.12
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99,50.00,NaT,NaN,NaN

In [75]:
def process_2022_data(row):
    if pd.isnull(row['END_DATE_2022']):
        # Case 1: `START_DATE` is in 2022, `END_DATE_full` is in 2023
        if row['START_DATE'] <= pd.to_datetime('2022-12-31') and row['END_DATE_full'] >= pd.to_datetime('2023-01-01'):
            row['END_DATE_2022'] = pd.to_datetime('2022-12-31')
            row['DURATION_2022'] = (pd.to_datetime('2022-12-31') - pd.to_datetime(row['START_DATE'])).days + 1
            if 'monthly' in row['SUB_DETAIL']:
                print(row['ID'])
                row['REVENUE_2022'] = np.ceil(row['DURATION_2022'] / 30) * row['AMOUNT']
            elif 'annual' in row['SUB_DETAIL']:
                print(row['ID'])
                row['REVENUE_2022'] = np.ceil(row['DURATION_2022'] / 365) * row['AMOUNT']

        # Case 2: Both `START_DATE` and `END_DATE_full` are in 2023
        elif row['START_DATE'] >= pd.to_datetime('2023-01-01'):
            row['END_DATE_2022'] = np.nan
            row['DURATION_2022'] = 0
            row['REVENUE_2022'] = 0
    return row

In [76]:
sub_rev_merged = sub_rev_merged.apply(process_2022_data, axis=1)
sub_rev_merged['END_DATE_2022'] = pd.to_datetime(sub_rev_merged['END_DATE_2022'])

# Calculate 2023 Revenue
sub_rev_merged['REVENUE_2023'] = sub_rev_merged['REVENUE_full'] - sub_rev_merged['REVENUE_2022']
sub_rev_merged['DURATION_2023'] = sub_rev_merged['DURATION_full'] - sub_rev_merged['DURATION_2022']
sub_rev_merged

000PGCL630
000TOJT688
001UAHA863
001WZZE262
002BKVK889
002FIHW100
003TEQR186
003XKHS955
003YXVZ587
003ZZGJ163
004SZWZ820
005AJTJ963
005CRSD874
005KLHD033
005UXRN097
007EBFN621
007IHUT323
008DEJF778
010ADQH166
010FMTD776
010FMTD776
010PKHU916
012FYQI592
012HJBP638
013QHTR180
014REWI075
015JHXW430
015PWDY650
016CMYY649
016FXDT429
016FXDT429
016YIWI121
017JQZU523
017ZMSQ311
018OBOB997
019PTUR768
022ODOM133
022WSQP330
023DHIY681
023MOVK325
023NUVZ956
024EAID291
025FQYG980
025LFEI109
026HNEL572
026IMJQ245
026SHHC102
026TCAF188
026XXER432
027SHZU688
028LYKE666
029MONS807
030JYTU571
030PDMK353
030XPXV557
031DDYY614
031EGOB154
031SBKW341
032DDSZ482
034YUAK722
036TGGJ227
036UGYQ840
038TZTM516
039EAWX176
039JTJQ019
040TNWD677
040WADJ377
041EKEP011
041QBSC636
042TDUA223
043HHHR895
043KBPY591
043YRUU646
044WWWO052
045QCOK064
045VZAO033
045ZMYZ414
046BCJW783
046UMHC124
047CTFE296
047GZWP978
047RTSI267
047XWVT596
048ANWV531
048BTCJ505
048JCYN921
048YGXX117
048YGXX117
049PJDN276
050RKOO458
053JWCW877
053NKIL918
053RUSN577
054UFLJ157
055VPTA802
056BIOG521
056HTVH718
056VIYJ830
056YRAY325
057OISJ409
058APKE272
058SGJT711
059RFQY457
059TNRQ818
060JDXF489
060SSXV576
060YCJE501
061PYJH994
061VSGC283
063JBIB107
064CPXO500
064PYQT737
065KVJK936
066MORB849
066NKGG629
067OHIG281
068DFCA377
068GFVR837
069MXAH731
070UUBS048
070ZYCW794
072IYWL452
073AIVB441
073AWTP354
073KBVX311
073LHBR667
073LXFZ369
074AKUW449
079ALKC786
079DUMQ529
080SAEW518
082BTDU016
082MJDS997
083ZPKF650
084EGNZ327
084XZGK783
084YTWH614
085XBBO783
086FGHV989
088TZQR007
089DHMM756
089NRAD585
090QLWR005
091AZXP075
092ABOV115
093PKNW056
093QNMN093
094CRAW603
094JSAP807
096FRWN153
097DIAD736
097KERZ745
097WKIK751
098JTTZ529
098TJDM616
101GHPS712
103CUTH781
105SXAS460
105WXUM595
106AJOI884
106PNBJ935
107EIMT486
108LDCS559
109MJWA040
109VQLK419
111CFTL414
112DMYN887
112UMXI923
112VCQA714
113CQIL140
113CSTN009
113MXBA362
114BWQH881
114FFOW869
114KQRM048
114QHPK660
115BBBZ973
115YETJ877
116JHTF924
117DZOQ298
119OAQF623
119OAQF623
120BEGX483
120HUYD582
120YCJI835
121FLQB137
122LKHI908
125CYJY209
125PGUP069
125SSMG438
126GZPJ793
126OHBN318
128EJHY106
128HKEZ290
128NJYZ668
128PIOH866
129FFPF277
129LGBB473
131JGZL327
132XURW352
133CHZS624
133JJAV828
134LYHF886
136DEYA011
136MFIB155
137EZDG018
138EDRO069
138JDZN948
138KDWZ874
139IIIN417
139YHZZ915
140ARQF502
140YEAS643
141NGFO026
141YFVK358
143OIQK612
143TCLA756
144UTVY364
145BMKF606
145CWNX464
146OWEK592
146SRNW371
147BYFP754
147PCDL017
147VHFU814
148CXNY272
148GCWD278
148JALJ001
149MAZK590
150GPYB422
153FIHR876
154LASD972
155AOJI744
155IVJD139
156ACKD529
156GFVO747
157DLAK879
157TBAH934
157TMAW683
157YNTI713
158QQEO342
159AUIR376
159IVTO787
159XMFQ582
160FUUF077
160KDAF515
161NBHO283
162GGBH039
162SNIM892
162UJLZ843
163DDGG094
163GOIU096
163HHAI550
163NNOL521
163NRVF040
163THHL936
164FWSJ744
164FWSJ744
165FNNP844
165TPYZ340
166KTGS623
168YWAU366
170HCXO656
170SIEA378
170UTES195
171OBDV558
173YGYG741
175FORK049
175QYKX112
176DZEP832
176NMAB841
176PQMZ956
177UMYW414
177YTSL124
178CNGX627
180AVZW224
180QSEY449
181FUCV796
181IJMM200
181NWDH767
181OOBN729
182EJVS955
182FFSI076
182FRTQ624
183IMLM963
183IWUK319
184NLLV865
184RIZN482
187HNSC931
187VVPD455
188KIQP763
188SZHS953
190AWPY549
191EKQG859
191PHBD044
192RIJQ816
194CKLV308
194ETAI422
194GOTF876
194RYNW898
194ZPFI272
195IWPR769
196TYZZ939
198QGES683
199ANKJ508
199HJMK089
199YRBX258
200QXQW736
200SDZA271
201FEUH220
201IIZP824
201PELI218
201QKPE639
203LPRI588
203NWIA533
204KHHP536
205TDHL951
206XUXN366
207CUSD578
209HPJL469
209OFOT958
210GUGZ864
210UOJI832
211HFDL411
212WDYJ555
214PBMB869
215ZZIC224
216NEHK058
217AVFV304
217ODBC863
217XRLO693
217YCXW769
218LIQP833
218RHFF049
218RIIR002
219SABQ975
219TAHL055
220KOSJ405
220PAJI888
221CUVB501
221PPHF199
221VBOQ604
222IXYA188
223FMEM347
223WMKP093
225FSUD011
225JPIJ117
225XTTO671
226UIKI096
226ZRNE572
227EDOT351
227FJXM989
228LDCK422
228MDAV741
229ERPE861
229RLIX243
229SUMJ048
229ZQYQ539
230AVVU640
230RQIO909
232NAVN715
232QMVO996
233LRYU288
233UCYG009
234VAZG094
235BLKP272
237AFGC160
237LNJZ857
237LTKP359
238TVHE721
239EKZD273
241TNCW066
242MMDB206
242ULXA344
244CNNI772
245DTMI356
246NHIK538
246NHIK538
246RREW562
248LQZE679
248QBLX888
249KOUL918
249NVQE013
250IPRZ690
250LGWP706
251XSRG232
252GBXD543
252IWVL293
252NHFT491
252OJXL860
252SNQT994
252VGNU138
253MAGZ458
253UUGG803
255BNVI653
255VWIX393
256CWME039
257DEUF242
257NCYY727
258UXMK094
259NFAD791
260DVFQ061
260GWUD051
261FFAI745
261GJUT812
261SDRA448
262EIYY454
262ULDU169
263JQBL605
263TUWR495
263XNQK967
263ZTFK500
264AQDQ838
265BQVN875
265EEDX591
265EVNE681
265HAYF824
266EGHO444
266RHMC946
268AHVF390
269OZGF801
270FVXB018
271XWJR126
272EOHH758
272IAUF259
272MPVZ078
273BNSW722
275AKNJ259
275OKIF542
275RFKD008
276UXJM743
277XKNB957
277ZZXE389
278JBNU337
278PLYL217
278ZLHR684
279BAWK117
279CUQF008
279GSAM571
279VVWK472
280PKQL467
280UXTV510
280XNVF277
283BDAN599
283GLKH843
283MUCY790
283TJYN649
284KELH708
285HSKE274
285SAJT995
287DSCC776
287QSTP213
289EGFT455
290CRJY926
291LOWZ341
292WSEY832
292XDER858
293LLCH573
293RUNM872
294QQNJ667
295JTAQ713
295RYIP325
295UGVG746
295WAQH834
296IMGX676
296LVSQ984
297CQDU216
297HQIX480
297LMYG002
297VEUM129
298DYRD627
298NTZA972
298ONXE479
300BVBU323
300BXJS877
300QOHA197
302AOCX355
302CGMV732
302HYXY498
302SSPC743
303BWID256
303CFUP482
304THTP937
304ZILO268
305HAYG073
305RPUG724
306KLAU181
306KQAT263
307XUBO469
307XYMI279
308CLEQ802
308EFQY847
308PKKU037
309IYRA070
309TDNM279
309WAMU623
310DBPT119
312DEOU632
313KRFN889
313NZXM264
313TYFY292
314VAFC659
315CWBA276
315FLXA246
315GOUO710
315PZUY465
315TRNT908
316YIEH222
318AXJX629
318FRCY550
319NJJG697
320BIQZ665
320IGSA372
321IEUS402
323QUGY553
324KTBZ297
325AIAW731
325BRVO765
325GZMQ240
325UBZA323
326MGVX314
326ZCNK076
327KCPM890
327NBHD816
329LMOP172
330JEIC816
330LZEG434
333CSPC432
333DIVN826
333UQYQ367
333ZWIR662
334NNLC624
334OYOV745
334PYSJ368
335HHDX361
335PRMC851
336ZYAK744
337GYLS119
338CMDJ214
339PNKO520
339TLTI230
340WDNE762
343MADZ797
346VVII672
349QSSR964
351SYFL402
354RSPL660
355FJSD849
355LFRC329
355MKVJ778
356ECQN197
357HLCN124
357HLQN663
357KWBA282
357NFSL623
357XCQM409
357XPOT374
358CCFX610
359EGUR412
360JFMX016
360WFYH436
361DIDW458
361JHXV696
362ULFJ865
363UYUH602
363WSGQ122
365DXHG006
365NKFV896
367TYZG565
369XATU101
370GIQF575
371OUBK145
371UQZJ359
371VRRR688
372GDZR958
372IDKA873
373CHBI244
373CRVM657
373KQTU496
373MDUK177
374BPTY388
374FMJC260
374LXZW607
374RMCS760
374YZPB373
376KMHQ894
378HRDS272
378OGRO029
379DEQS234
379IHZV026
380FVBC897
380VUNI924
381GVDV441
382CAJK596
382UZEL385
383BQMM189
383FXTW619
384HMDR558
384OKKL499
385MJMY335
386ZKBL617
387GBLI766
387IPMV739
389IIWC678
389IIWC678
390JWID933
390OBHP291
391BOTQ568
391DNGY472
391GAZN260
391NVCB105
391QUZA112
392FYGD705
392KFEJ603
394JTFD072
394KMVF612
394NVUQ204
394RMRV085
395GKED585
397TTUR642
397XHSH215
397XILQ619
397ZKLN393
399WXVM587
400QPSW353
400UGWO669
402CHVM284
403CATO959
403JSQZ611
403QPWP059
403QPWP059
403SSKH835
403XVGU673
404THNO097
405FPAZ269
405YFJB730
406ENES556
407PKIF664
407VUBZ603
408HQFM647
409CMZK449
409LBPF016
410TING517
412NPVN378
413KBMX963
413XGTY330
414BGZH529
414FSQF281
414VLSV556
414YACP004
415BHBS508
416XMVV568
417ERYU643
417GERX316
417HPDG237
418QNTX487
418RPEU639
418ZQGM286
419KNDJ714
419YEAC863
420GRTV813
420LVTS726
421ADXF475
422GLEU142
422WPED066
423GPDE855
423SZUC011
424BBGG478
424ILKG931
424JPGJ867
425OODW986
427JANA646
428DLTQ062
428YVNB731
429ENCB078
429WQEK855
430DIFG217
430OQYY010
430UTUR334
431ILBM911
431YXTS915
432UMVY849
433VPLL529
434HPCG288
434HZZT266
434IERU852
434VDSA638
435NXVK514
436HXIQ980
436QMXB451
438DKBQ663
438FIAW105
438MWAJ694
439JZDK339
439OKWQ394
439QROF205
440QEOB773
440UHIJ103
440UHIJ103
442QWXF670
442SGMA471
443JUGN966
443QZJS961
443TVDM014
443YJUU245
444RDUP265
444RMXB908
444UYUT362
445TMXV136
446SVBZ742
446XSTB521
447DGBF670
447ZTTN862
448BOCZ822
448XAUL170
451AGLP906
451FFHG300
451QDEU160
451ZVTV773
454MJVS259
454PNED754
455APDN290
455PIJE919
456BSTV398
457FYVT313
457HCLH465
457SCWS721
458DAYC884
459SDLL961
459WTII670
462OYPH205
462TZRT715
462UGBU779
464LRYX078
464VLUW830
465JPMP194
466MAJU346
466WAKG674
467NGYQ551
468SMOE244
470IUOK778
471BFHR976
471NWRB395
471WJUV576
472ADEN648
472FJMV024
472NIQM706
472QEGR585
472XTJE651
473OOTK087
473RZVN638
473VRXN171
474LNMF142
475DMKM800
475SUQO517
476AZGK947
477NSRI425
477ORQA939
478TANX655
479BYUD109
479LVJS373
479TFVP788
479ZXII598
480BFZT688
480JOHX637
481NNJQ081
481PEAE608
481WGKY143
481YMDG369
482PBFC597
483JCGA616
483KYMR634
483TMON662
485QAEW340
486FQIM179
487CAGI482
488PZUK352
488SJWX126
490FGMW809
490SURC173
491AUHE753
491KGSO925
491ZKYU743
492EYZF626
492MWDR845
493KNBT182
493NFBN131
494HGFV004
495HRSV976
495ULZG665
497KZGS994
497SLLB096
498ROZP545
499DOQQ367
500CUSL456
501LOTU771
502CKFV739
503OUFW858
507IWNN977
509IORW695
509QHZC908
510GLCQ429
510SAAU642
512EDNP672
512EKJG903
512VBCT365
513CDBG679
513DSAN247
513DSAN247
514GDFT739
514NVPV712
514VNYG628
515NEYV088
515YNLG926
517AGTH900
517CMQL135
517IHFF359
517JYCP028
517YAKU161
519LJZZ104
520HTJX886
520IRBK751
520PLTF705
520SIJT045
520YZXR841
521DQNN826
521JMTP981
522UCHQ375
522VFLN270
522WGMX211
523HCFB502
523PBUQ892
524FEFW133
526KHPF708
526QDBZ257
526UNQH538
527SVQU951
527UKVX848
528AWZQ921
528LYON683
528NAKH945
529MHPD670
530EGXE769
530FQSD074
530PDNE306
530POYW279
531BEWH970
531FBQM911
531FKCW156
532DNEH193
532OJJW933
532PJLF562
533VKIP868
534DNVK326
534LEYO021
534UAXE447
535TSFF799
536VNEG882
537GWNH366
537PLUK392
537VFWO402
538XIQG092
539QUUJ681
540BUKX917
540OIPH817
541PFMQ808
542XCCB761
543WLJX090
544FBLK749
544NDKU851
544RVHI931
544TPDK252
544XHSC656
545EQXY094
545UKGE025
546MJUN760
546RAGB979
546ZKOU512
548MPSR183
548TOMH936
549BWWF808
549ZKNT282
549ZLMM917
550DDTT477
550JFCQ009
551CCWI113
551NADA534
551NPIV471
552TPBW660
554FJYL408
554KFKT929
554VGFA735
554ZPAS210
555ZAAT989
556ECDI179
556WKRK419
558FJJW471
559CWWF876
559QUVQ997
559YPAS718
560FDJA409
560KGEC810
561AHNJ270
561QLNC519
561VLAZ931
561VVOY994
562JWFK556
563LKTF196
563RFGB638
564PLZM447
564STHY312
565TTIY177
566QGGE939
566URPN114
567HHFH914
567IRBL150
568QTYN112
568XFPU850
569HKAD570
569MXTG249
569RDEG630
569VXIP503
571AOCM242
571DTHY986
572YQRH385
574MOUC255
574PDDX079
575UAPH400
576NJKQ506
577LJLV301
577OZKQ917
577ROOW286
577VYFJ104
578INND671
578RWVN001
578UYUQ325
580AJZR965
580ARBE951
580MCPU690
580YIUS595
581DPHV778
581NBMF544
581VSZD263
584EHQV827
584TDVD727
587BRAA441
588EYRF414
588LVOR663
588XHQU164
589HESR883
589IVQO550
589RGEA922
590SOEV806
590WOPE256
590XOZG496
591CHSU066
591UDGC828
592AIYG792
592YMUN771
593NEIO989
593VKMS978
593YPQU584
594DJEG084
594VVHC576
595DXFQ775
595JBHP889
596SKOJ628
596UKFQ664
597CMQX339
597UGCK601
598CGJP772
598FYZR209
600JDAQ945
600KOCR915
600PQAW370
601BUXT375
601SRJB700
602BYYD069
603ENJQ951
603HQET168
603NUSP536
603ZERB637
604BGOS525
604IOZN168
604IOZN168
605KUUR418
605PLYG004
606FCHG219
606UUWV041
606WAZK042
607KWRL909
609UYMA721
611LVSL424
611NHDV180
611XSHW536
611YQSJ465
613SCTK779
614DVAJ579
615DOCX257
617PWEJ185
617QRYI432
618FFQT646
618FZRS521
618LJAN679
619HFRX414
619PGOG405
619QPVR565
620CAXE754
620GDWE865
620MNAM137
620QWOA525
620RLXP227
620SJZM771
620SNMT025
622RJBL226
622ZTSN565
623IJPU926
623LCAK207
623QTTF740
625GIFC355
625INHO404
625WXOI788
626ZUDB410
629XMNF381
630GXMQ356
630IFXB266
631QTWB643
632GTQI075
632JELA172
632VMTH906
633QXDN011
633UIJI255
634MPNJ245
634PPZN617
635FGWD019
635JLDR357
635LSAN145
635SRPE225
635VCIE282
636CTPM081
636MBSX265
636VDBW456
637JCAO207
637RDAB591
637SOMY652
638HSZK587
638JMCE845
638JMCE845
638MBCO535
638OAKG178
638YBNV128
640DNOF574
640LRPY982
641ESLF789
642MCGE581
643AUPX292
643AUPX292
643JTXP405
644JNAW610
644ZPKV240
645AKEJ404
645IMEK278
646FHWZ312
646KERR146
646ORVZ961
646YVHU648
647AVSM752
648HHZD784
650CLSJ471
650GYRF091
650RFNN985
651KGJG433
651NYHK406
651ZKHN433
652ABIB105
652ESPL357
652NUSB094
653FRHJ442
655ABMQ179
655VRBK921
657CBXK935
657GSRF362
657YZBX849
658FGOF619
659LKRY365
659VGOZ859
660KJQD906
661GBXO613
661XZCA755
661ZULO077
662POVX101
663WGAQ789
664YOPU066
664ZUOG246
665NARX174
665NOIQ589
666HZXW536
667VSVB838
668RSCC054
669LUJD847
670IMCF866
670PWKG475
672HASW894
672QOQR986
672TPMY300
672TPMY300
672UTYS541
673JRCZ260
673SFVA376
673TCYZ746
674GCXH597
674NSGE798
674RAHW382
675PPDV398
676HAQD213
677KVKL081
679CMPT991
679RHNK502
679XSXW953
681PEXN433
682XOTY597
683HZYT036
683LQLV647
683NKSR712
684CGEE450
684KPWR693
684LKER293
684LWWP543
687BQRH403
687FAFE541
687QVVY669
689BSHD824
689PXOP966
689RBSC897
689VLNI763
690WKQR538
691MHQS459
691ZRTW493
692ABIL488
692MZBY671
692XVXX289
693PONM484
693QEFR941
693XEPI956
694KTGT467
694TERQ298
695CXYT752
695VHSW965
697AYBY294
697ZGSJ326
698BSQR621
698MTGL821
698TTCP095
699BNGK220
699BPDS183
699GJTU617
699MXHM282
700WPAR342
701AOFO890
701ESLU779
701OTGC055
701XOWY510
702MPWG578
702WEPQ512
703QUXX628
704DOAB509
708FZBA240
708NKEV669
712WQFX308
714TBIR533
715OSER973
715TLQD307
716EJEQ644
716JVGL133
717DTWA447
717EVWC384
717HFDS395
717MNYR779
717PZGQ148
718PHLC039
718VHXE196
719OAZM588
719YKBD640
720CCWS615
720TDGR468
720ZSWU012
721CCOQ286
721IHBN973
721INDH118
722GIKC929
722IFEA408
722NLJM637
722NNOE500
723DLTG659
723NLZW720
723ZIUJ524
724GCKW212
724ZJER601
726DQWM577
726EDHE319
726ZVQU676
727ZLJJ393
728XZKF964
729FRSV687
729UBDP520
730WPZU384
731AMZL375
731ASSX526
731KTUM559
731NNZJ469
731PKRU130
731XICE427
732EWXQ597
732GTTK438
732ITIW529
732WRAD824
733KNIA846
734FMHK653
734UMRZ928
734VYHP719
734XRPA000
735QZST506
736ASDL474
736OHZJ981
736TWDL744
737NUDR045
739YCFJ795
740EJPJ631
740KUTM315
741ENLZ493
741IWRA859
742CPMF889
742NGRJ168
744DRPE711
744WFEU416
744WFEU416
744YVRP662
745WBIX435
746CEUD836
746IFGB763
747CHVS114
747JHYF360
747XTZK407
748FPGJ969
748MWAO836
748OJSR780
748ZHZL986
749JZTU121
749YKOX983
751MMMV735
752VPYI522
753GVRA225
753NWQL585
753QKLS375
753ZCZQ683
755EIYG020
755YSZS386
756KJFK603
757RRTA454
758DWAK015
758NVDO454
759IZXM822
759TJGL823
759ZVPV432
761UENR509
761YOZX750
762EWVE626
762ONRQ002
763MLGI099
763TENH742
764RGUU013
764SPBO167
765HHCS305
765LQHZ068
765NDFX254
765UGGC222
766OLCG934
766ROJX675
766UWKH136
767DKOX459
767FNRA817
767VGNI461
768TYRN822
769IGFI524
770CAYX619
771EATW185
771EUAJ771
772CJUJ010
772GOTA695
772GOTA695
772QSBR553
772VFWN341
772WRIZ336
774EVJF299
774INOC619
774TCZD546
774ZQUY606
775EOIL118
775TLYV730
776NBKU434
777CIZK398
777CVSI552
777ELTV233
777KTNZ980
777LXZN967
777QUXZ518
779IXNE532
779JZJP551
781KGRA357
781MOQM119
781TILQ877
783WTUK905
784FFXI410
784QLOT919
784QOAI986
784YHMB808
784ZVVQ928
786HQRV830
786VEOW378
787OLKO282
789NADH450
791LDLG711
791ZYTG024
792HRNV005
792HSGX853
792YRHO160
793JDDD910
793PFSA837
795AKIS314
795TLQQ633
796QUXJ741
797CDJC095
799CXGY790
799DVWZ073
799IRFA207
799NGAG856
800FIQI922
801CLHP754
801EIQN355
801LSFC581
801OZXT249
802SPTT170
805HIRQ868
805TKJZ108
807OCJA210
808NTVD713
809DSVQ521
809GQSK281
809SYKN348
810PVTJ046
811JCKK429
811SDDG686
811SKDK224
813HQLV673
814OJLV937
815WISG295
815YBZN985
816ILHW378
816WLHA793
816ZGMO847
817MTXO048
818MFAL031
818NOLX270
818SQXL105
819LGEY633
819NOJX926
819WRUK091
819ZGRJ541
822BORV789
823EFXC980
824AFND232
825EQVA143
825OZUJ189
825QJAI714
825UWER695
826SKZQ233
827OOSY891
827UBRN355
828EDAP236
828FYKF735
829AMWB163
829JAJT317
830SCJJ780
830YKKZ817
830YKKZ817
831LHUT557
832EPLC872
832SBYP290
832WPWL207
832ZXIK138
833OLDJ540
834PLSP081
834WZDW307
836YPEY360
837OPWY485
837SMBK928
838FGLP263
838OIWU043
838YYHN456
839WIZM629
840EZHF942
843ZMGA785
844JUTV500
847DTLP669
847MGVJ844
848ENXU008
850UAGE724
851AEIZ439
851GNED032
851LVEY003
852GLHU327
852OYGA085
853FKHK842
853LTFD581
853YFCG675
854KGHA836
855BDVQ056
855ROMN831
855ROUR322
856BKNH104
857NKBX135
857QAJQ984
857XBKN946
858UBHK251
858YVBJ418
859MTZT584
859QTPL717
860DXEB030
860REIW701
860REQY406
861HVCE463
862TTMX876
864DBNG517
864IBIB605
865NGUE622
866ALXH552
866HYUT476
867PATA372
868CLRN516
868DZEW036
868OYES023
869NVZM246
872ENDY682
872NXWK114
875CKZK322
875FYTF670
875MIED628
877HMRZ639
877VKPQ980
877YILQ991
879AXIQ616
879EWUX139
879GHDI108
879MERL729
879PZRK694
880BZJP915
880CUVS203
881GQES105
883GVAI468
886BKPK568
886PDJE683
887XEJM434
888JNCU449
889PKEQ081
890SMYW752
891XFOT515
894BGWY096
895LVDH460
895MWXU583
896RTRW954
896ZPMY561
897QLVV791
898LRKG501
898UPVP959
898YRPE356
899BYPX950
899HTRJ132
899NFPA486
900XQHD327
901BMCO647
903BSVZ127
903ZDGA547
904EYFS971
904JETI005
904PJIT922
904UHNX438
906EMYG010
906GKHR493
906PNTG804
907HHWA205
907VQKR827
908AMBT517
909JCNQ625
910JILP771
910JRDB284
910NQGB204
911GVUB047
911WXPM809
911XHUX917
912DRAQ084
912WJJU850
913MTNO520
913QUEY626
914PJBD900
914UWWH833
915HWUS273
915JXVE560
915MUAJ531
915PRPR870
916EUMU257
916ZLRX981
917JTCM329
921DXWZ096
921JZWV104
922FFFN911
922RCME659
922YYHC211
923HVMU778
923LPVA899
924NIYY842
924RETD406
925CASB028
925PSPX000
927NYNN073
927OFQI552
928ULQU655
929HQST354
930HUDV476
930NSZK846
931ARSZ131
931VEBC569
931ZGUQ601
932EKVJ731
933FMXS131
933MEPH360
933RNPG121
933VKYX667
934LAVP012
934NJVJ854
936GECL645
936GNTN290
936QKOL265
936RUAM208
936TMXS224
936UUFG889
937EGJF343
937WZQI039
937WZQI039
938FKRV761
938FKRV761
939ICEL815
940ZYIB937
941KVKT050
941YPYZ649
942HXPD763
942PVYX277
943EOMW499
943YTUR883
944MVJR060
944XNPN854
946BBTX452
947KWEX380
947RWSI301
947SSAA736
947UEAG261
948PEPN755
949FPIG761
949LSQW676
950FFWT353
950FJCN511
950FYYK823
951HTAR739
951JFGZ917
951ZZRJ178
953UZBL178
954MQPU050
954PXGR297
955ASAS082
955MJNN917
956JHEH188
956ODBI664
959OVYQ005
959UTPN140
959VVMV347
959WVNP775
961ECDZ658
961NILR224
961XBGZ174
962KDHY440
963AXYH064
963BHNW909
964BBMA950
964IXCR320
964LMYG216
964XXOT229
965RSTB678
967FQDC353
967JADC655
969BOQH713
969QINH444
969QTVK668
970APQS307
970BKUX833
970BYWM291
970VKBN413
971GRQQ407
971XNHW089
972ATJI947
972DPOL710
972ESUF547
972XHLO656
973CCND639
974PLLS339
975CDYD890
976SSDF404
977GYGL900
978IQAU586
979TRGF156
980QVFG747
980QVFG747
982RHJG937
982VGYX185
984OYQR965
984WAHF016
984ZFMX241
985FEIG810
985SLUO560
985TCYR330
985UKUO111
985UQDJ787
985XSSR257
988TOHL742
989IRRK451
989MAMR908
990CWCF874
991DVRD194
992BXAP901
992NUPI891
994SIHI881
995JLJT860
995TBTD111
996AXDY416
996JBWN039
996JRTM677
997AKSP806
997JNLF904
999ZGDS170

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE_full,DURATION_full,REVENUE_full,END_DATE_2022,DURATION_2022,REVENUE_2022,REVENUE_2023,DURATION_2023
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47,60.00,2022-02-17,47.0,60.00,0.00,0.0
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2023-10-28,525,599.82,2022-12-31,224.0,239.92,359.90,301.0
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56,22.36,NaT,0.0,0.00,22.36,56.0
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2023-10-17,512,120.00,2022-12-31,222.0,60.00,60.00,290.0
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104,48.00,2022-04-15,104.0,48.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91,31.92,NaT,0.0,0.00,31.92,91.0
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2023-03-02,425,120.00,2022-12-31,365.0,60.00,60.00,60.0
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39,59.99,NaT,0.0,0.00,59.99,39.0
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2023-12-31,702,720.24,2022-12-31,337.0,360.12,360.12,365.0
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99,50.00,NaT,0.0,0.00,50.00,99.0

In [81]:
sub_rev_merged.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/full_2022_2023_rev.csv')

In [ ]:
# Calculate 2023 Revenue
sub_rev_merged['REVENUE_2023'] = sub_rev_merged['REVENUE_full'] - sub_rev_merged['REVENUE_2022']
sub_rev_merged['DURATION_2023'] = sub_rev_merged['DURATION_full'] - sub_rev_merged['DURATION_2022']
sub_rev_merged

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE_full,DURATION_full,REVENUE_full,END_DATE_2022,DURATION_2022,REVENUE_2022,REVENUE_2023,DURATION_2023
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47,60.00,2022-02-17,47.0,60.00,0.00,0.0
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2023-10-28,525,599.82,2022-12-31,224.0,239.92,359.90,301.0
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56,22.36,NaT,0.0,0.00,22.36,56.0
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2023-10-17,512,120.00,2022-12-31,222.0,60.00,60.00,290.0
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104,48.00,2022-04-15,104.0,48.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91,31.92,NaT,0.0,0.00,31.92,91.0
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2023-03-02,425,120.00,2022-12-31,365.0,103.06,16.94,60.0
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39,59.99,NaT,0.0,0.00,59.99,39.0
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2023-12-31,702,720.24,2022-12-31,337.0,360.12,360.12,365.0
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99,50.00,NaT,0.0,0.00,50.00,99.0

In [82]:
sub_rev_2022 = sub_rev_merged[['ID', 'BRAND', 'SUB_DETAIL', 'AMOUNT', 'START_DATE', 'END_DATE_2022', 'DURATION_2022', 'REVENUE_2022']]
sub_rev_2022.rename(columns={'END_DATE_2022':'END_DATE', 'DURATION_2022':'DURATION', 'REVENUE_2022':'REVENUE'}, inplace=True)
sub_rev_2022

/var/folders/sv/tqkwxbbd1l96g8tr45l86pmw0000gn/T/ipykernel_85888/2773240989.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_rev_2022.rename(columns={'END_DATE_2022':'END_DATE', 'DURATION_2022':'DURATION', 'REVENUE_2022':'REVENUE'}, inplace=True)

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47.0,60.00
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2022-12-31,224.0,239.92
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,NaT,0.0,0.00
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2022-12-31,222.0,60.00
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104.0,48.00
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,NaT,0.0,0.00
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2022-12-31,365.0,60.00
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,NaT,0.0,0.00
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2022-12-31,337.0,360.12
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,NaT,0.0,0.00

In [94]:
sub_rev_2022[sub_rev_2022['END_DATE'].isna()]['START_DATE'].dt.year.unique()

array([2023], dtype=int32)

In [96]:
sub_rev_2022.loc[sub_rev_2022['END_DATE'].isna(), 'START_DATE'] = pd.to_datetime(np.nan)
sub_rev_2022

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,47.0,60.00
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2022-12-31,224.0,239.92
2,000AHHU956,RetroReel,trial monthly,11.18,NaT,NaT,0.0,0.00
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2022-12-31,222.0,60.00
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,104.0,48.00
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,NaT,NaT,0.0,0.00
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2022-12-31,365.0,60.00
89542,999ZGDS170,CineQuest,paid annual,59.99,NaT,NaT,0.0,0.00
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2022-12-31,337.0,360.12
89544,999ZTXB880,Pulse,paid annual,50.00,NaT,NaT,0.0,0.00

In [97]:
sub_rev_2022.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/2022_rev.csv')

In [85]:
sub_rev_2023 = sub_rev_merged[['ID', 'BRAND', 'SUB_DETAIL', 'AMOUNT', 'START_DATE', 'END_DATE_full', 'DURATION_2023', 'REVENUE_2023']]
sub_rev_2023.rename(columns={'END_DATE_full':'END_DATE', 'DURATION_2023':'DURATION', 'REVENUE_2023':'REVENUE'}, inplace=True)
sub_rev_2023

/var/folders/sv/tqkwxbbd1l96g8tr45l86pmw0000gn/T/ipykernel_85888/1874367159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_rev_2023.rename(columns={'END_DATE_full':'END_DATE', 'DURATION_2023':'DURATION', 'REVENUE_2023':'REVENUE'}, inplace=True)

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,2022-01-01,2022-02-17,0.0,0.00
1,000AHHU956,RetroReel,paid monthly,29.99,2022-05-21,2023-10-28,301.0,359.90
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56.0,22.36
3,000BRHY264,CineQuest,paid annual,60.00,2022-05-23,2023-10-17,290.0,60.00
4,000DJKK225,CineQuest,expired monthly,12.00,2022-01-01,2022-04-15,0.0,0.00
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91.0,31.92
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2023-03-02,60.0,60.00
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39.0,59.99
89543,999ZIAU985,RetroReel,paid monthly,30.01,2022-01-28,2023-12-31,365.0,360.12
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99.0,50.00

In [86]:
def process_2023_data(row):
    # Case 1: `START_DATE` is in 2022, `END_DATE_full` is in 2023
    if row['START_DATE'] < pd.to_datetime('2023-01-01') and row['END_DATE'] >= pd.to_datetime('2023-01-01'):
        row['START_DATE'] = pd.to_datetime('2023-01-01')

    # Case 2: Both `START_DATE` and `END_DATE_full` are in 2022
    elif row['START_DATE'] < pd.to_datetime('2023-01-01') and row['END_DATE'] < pd.to_datetime('2023-01-01'):
        row['START_DATE'] = pd.to_datetime(np.nan)
        row['END_DATE'] = pd.to_datetime(np.nan)
    return row

In [87]:
sub_rev_2023 = sub_rev_2023.apply(process_2023_data, axis=1)
sub_rev_2023

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,NaT,NaT,0.0,0.00
1,000AHHU956,RetroReel,paid monthly,29.99,2023-01-01,2023-10-28,301.0,359.90
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56.0,22.36
3,000BRHY264,CineQuest,paid annual,60.00,2023-01-01,2023-10-17,290.0,60.00
4,000DJKK225,CineQuest,expired monthly,12.00,NaT,NaT,0.0,0.00
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91.0,31.92
89541,999ZGDS170,CineQuest,expired annual,60.00,2023-01-01,2023-03-02,60.0,60.00
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39.0,59.99
89543,999ZIAU985,RetroReel,paid monthly,30.01,2023-01-01,2023-12-31,365.0,360.12
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99.0,50.00

In [98]:
sub_rev_2023.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/2023_rev.csv')

In [100]:
print(sub_rev_2023[sub_rev_2023['END_DATE'].isna()]['START_DATE'].unique(),
    sub_rev_2023[sub_rev_2023['START_DATE'].isna()]['END_DATE'].unique())

<DatetimeArray>
['NaT']
Length: 1, dtype: datetime64[ns] <DatetimeArray>
['NaT']
Length: 1, dtype: datetime64[ns]

In [146]:
def sep_2023_rev(row):
    threshold = pd.to_datetime('2023-06-30')

    if pd.isnull(row['START_DATE']):
        row['h1_start_date'] = pd.to_datetime(np.nan)
        row['h1_end_date'] = pd.to_datetime(np.nan)
        row['h1_duration'] = 0
        row['h1_rev'] = 0

        row['h2_start_date'] = pd.to_datetime(np.nan)
        row['h2_end_date'] = pd.to_datetime(np.nan)
        row['h2_duration'] = 0
        row['h2_rev'] = 0

    elif row['END_DATE'] <= threshold:
        row['h1_start_date'] = row['START_DATE']
        row['h1_end_date'] = row['END_DATE']
        row['h1_duration'] = row['DURATION']
        row['h1_rev'] = row['REVENUE']

        row['h2_start_date'] = pd.to_datetime(np.nan)
        row['h2_end_date'] = pd.to_datetime(np.nan)
        row['h2_duration'] = 0
        row['h2_rev'] = 0

    elif row['START_DATE'] > threshold:
        row['h1_start_date'] = pd.to_datetime(np.nan)
        row['h1_end_date'] = pd.to_datetime(np.nan)
        row['h1_duration'] = 0
        row['h1_rev'] = 0

        row['h2_start_date'] = row['START_DATE']
        row['h2_end_date'] = row['END_DATE']
        row['h2_duration'] = row['DURATION']
        row['h2_rev'] = row['REVENUE']

    elif row['START_DATE'] <= threshold and row['END_DATE'] > threshold:
        row['h1_start_date'] = row['START_DATE']
        row['h1_end_date'] = threshold
        row['h1_duration'] = (row['h1_end_date'] - row['h1_start_date']).days + 1
        row['h1_rev'] = (row['h1_duration'] / row['DURATION']) * row['REVENUE']
        # if 'monthly' in row['SUB_DETAIL']:
        #     row['h1_rev'] = np.ceil(row['h1_duration'] / 30) * row['AMOUNT']
        # elif 'annual' in row['SUB_DETAIL']:
        #     row['h1_rev'] = np.ceil(row['h1_duration'] / 365) * row['AMOUNT']

        row['h2_start_date'] = pd.to_datetime('2023-07-01')
        row['h2_end_date'] = row['END_DATE']
        row['h2_duration'] = row['DURATION'] - row['h1_duration']
        row['h2_rev'] = row['REVENUE'] - row['h1_rev']
    
    return row

In [147]:
sub_rev_2023 = sub_rev_2023.apply(sep_2023_rev, axis=1)
sub_rev_2023

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE,h1_start_date,h1_end_date,h1_duration,h1_rev,h2_start_date,h2_end_date,h2_duration,h2_rev
0,000AHHU956,RetroReel,expired monthly,30.00,NaT,NaT,0.0,0.00,NaT,NaT,0.0,0.000000,NaT,NaT,0.0,0.000000
1,000AHHU956,RetroReel,paid monthly,29.99,2023-01-01,2023-10-28,301.0,359.90,2023-01-01,2023-06-30,181.0,216.418272,2023-07-01,2023-10-28,120.0,143.481728
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56.0,22.36,NaT,NaT,0.0,0.000000,2023-11-05,2023-12-31,56.0,22.360000
3,000BRHY264,CineQuest,paid annual,60.00,2023-01-01,2023-10-17,290.0,60.00,2023-01-01,2023-06-30,181.0,37.448276,2023-07-01,2023-10-17,109.0,22.551724
4,000DJKK225,CineQuest,expired monthly,12.00,NaT,NaT,0.0,0.00,NaT,NaT,0.0,0.000000,NaT,NaT,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91.0,31.92,NaT,NaT,0.0,0.000000,2023-10-01,2023-12-31,91.0,31.920000
89541,999ZGDS170,CineQuest,expired annual,60.00,2023-01-01,2023-03-02,60.0,60.00,2023-01-01,2023-03-02,60.0,60.000000,NaT,NaT,0.0,0.000000
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39.0,59.99,NaT,NaT,0.0,0.000000,2023-11-22,2023-12-31,39.0,59.990000
89543,999ZIAU985,RetroReel,paid monthly,30.01,2023-01-01,2023-12-31,365.0,360.12,2023-01-01,2023-06-30,181.0,178.580055,2023-07-01,2023-12-31,184.0,181.539945
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99.0,50.00,2023-03-03,2023-06-10,99.0,50.000000,NaT,NaT,0.0,0.000000

In [148]:
sub_rev_2023_h1 = sub_rev_2023[['ID', 'BRAND', 'SUB_DETAIL', 'AMOUNT', 'h1_start_date', 'h1_end_date', 'h1_duration', 'h1_rev']]
sub_rev_2023_h1.rename(columns={'h1_start_date':'START_DATE', 'h1_end_date':'END_DATE', 'h1_duration':'DURATION', 'h1_rev':'REVENUE'}, inplace=True)
sub_rev_2023_h1

/var/folders/sv/tqkwxbbd1l96g8tr45l86pmw0000gn/T/ipykernel_85888/3712657884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_rev_2023_h1.rename(columns={'h1_start_date':'START_DATE', 'h1_end_date':'END_DATE', 'h1_duration':'DURATION', 'h1_rev':'REVENUE'}, inplace=True)

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,NaT,NaT,0.0,0.000000
1,000AHHU956,RetroReel,paid monthly,29.99,2023-01-01,2023-06-30,181.0,216.418272
2,000AHHU956,RetroReel,trial monthly,11.18,NaT,NaT,0.0,0.000000
3,000BRHY264,CineQuest,paid annual,60.00,2023-01-01,2023-06-30,181.0,37.448276
4,000DJKK225,CineQuest,expired monthly,12.00,NaT,NaT,0.0,0.000000
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,NaT,NaT,0.0,0.000000
89541,999ZGDS170,CineQuest,expired annual,60.00,2023-01-01,2023-03-02,60.0,60.000000
89542,999ZGDS170,CineQuest,paid annual,59.99,NaT,NaT,0.0,0.000000
89543,999ZIAU985,RetroReel,paid monthly,30.01,2023-01-01,2023-06-30,181.0,178.580055
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99.0,50.000000

In [149]:
sub_rev_2023_h2 = sub_rev_2023[['ID', 'BRAND', 'SUB_DETAIL', 'AMOUNT', 'h2_start_date', 'h2_end_date', 'h2_duration', 'h2_rev']]
sub_rev_2023_h2.rename(columns={'h2_start_date':'START_DATE', 'h2_end_date':'END_DATE', 'h2_duration':'DURATION', 'h2_rev':'REVENUE'}, inplace=True)
sub_rev_2023_h2

/var/folders/sv/tqkwxbbd1l96g8tr45l86pmw0000gn/T/ipykernel_85888/734778524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_rev_2023_h2.rename(columns={'h2_start_date':'START_DATE', 'h2_end_date':'END_DATE', 'h2_duration':'DURATION', 'h2_rev':'REVENUE'}, inplace=True)

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
0,000AHHU956,RetroReel,expired monthly,30.00,NaT,NaT,0.0,0.000000
1,000AHHU956,RetroReel,paid monthly,29.99,2023-07-01,2023-10-28,120.0,143.481728
2,000AHHU956,RetroReel,trial monthly,11.18,2023-11-05,2023-12-31,56.0,22.360000
3,000BRHY264,CineQuest,paid annual,60.00,2023-07-01,2023-10-17,109.0,22.551724
4,000DJKK225,CineQuest,expired monthly,12.00,NaT,NaT,0.0,0.000000
...,...,...,...,...,...,...,...,...
89540,999WVJU110,Pulse,paid monthly,7.98,2023-10-01,2023-12-31,91.0,31.920000
89541,999ZGDS170,CineQuest,expired annual,60.00,NaT,NaT,0.0,0.000000
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39.0,59.990000
89543,999ZIAU985,RetroReel,paid monthly,30.01,2023-07-01,2023-12-31,184.0,181.539945
89544,999ZTXB880,Pulse,paid annual,50.00,NaT,NaT,0.0,0.000000

In [152]:
sub_rev_2023_h1.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/2023_first_6m_rev.csv')
sub_rev_2023_h2.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/2023_last_6m_rev.csv')

In [153]:
sub_rev_2023_h1_cleaned = sub_rev_2023_h1.dropna()
sub_rev_2023_h2_cleaned = sub_rev_2023_h2.dropna()

In [154]:
sub_rev_2023_h1_cleaned.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/dropna_2023_first_6m_rev.csv')
sub_rev_2023_h2_cleaned.to_csv('/Users/vivianyan/Desktop/NYU_Capstone_Project/recalc_revenue/dropna_2023_last_6m_rev.csv')

In [155]:
sub_rev_2023_h1_cleaned

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
1,000AHHU956,RetroReel,paid monthly,29.99,2023-01-01,2023-06-30,181.0,216.418272
3,000BRHY264,CineQuest,paid annual,60.00,2023-01-01,2023-06-30,181.0,37.448276
5,000DJKK225,CineQuest,paid monthly,12.00,2023-01-01,2023-06-30,181.0,71.408219
8,000EFUI271,LimeLight,paid annual,80.01,2023-01-01,2023-06-30,181.0,39.676192
9,000ELOE240,LimeLight,trial annual,51.62,2023-01-01,2023-04-25,115.0,0.000000
...,...,...,...,...,...,...,...,...
89537,999WMMD928,LimeLight,paid annual,80.00,2023-01-01,2023-06-30,181.0,39.671233
89539,999WVJU110,Pulse,paid monthly,8.01,2023-01-01,2023-06-30,181.0,73.377553
89541,999ZGDS170,CineQuest,expired annual,60.00,2023-01-01,2023-03-02,60.0,60.000000
89543,999ZIAU985,RetroReel,paid monthly,30.01,2023-01-01,2023-06-30,181.0,178.580055
89544,999ZTXB880,Pulse,paid annual,50.00,2023-03-03,2023-06-10,99.0,50.000000

# Test

In [12]:
sub_rev_2022[sub_rev_2022.SUB_DETAIL.str.contains('discount')]

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
17,000ORNZ823,CineQuest,discounted monthly,6.78,2022-05-01,2022-10-07,159,88.72
44,000VITQ690,CineQuest,discounted monthly,5.18,2022-08-19,2022-12-31,134,25.90
62,001JDME989,LimeLight,discounted annual,76.56,2022-12-10,2022-12-31,21,76.56
83,001SIVU071,ChillStream,discounted annual,36.56,2022-06-03,2022-09-10,99,36.56
99,001UFAQ102,CineQuest,discounted annual,27.20,2022-12-21,2022-12-31,10,27.20
...,...,...,...,...,...,...,...,...
60083,998NTVU114,LimeLight,discounted annual,35.67,2022-02-09,2022-12-31,325,35.67
60122,999ERRR461,CineQuest,discounted monthly,10.42,2022-10-12,2022-12-31,80,31.26
60142,999LAFI268,LimeLight,discounted annual,41.79,2022-01-26,2022-07-06,161,41.79
60153,999PNJX936,Pulse,discounted monthly,4.42,2022-04-24,2022-06-24,61,29.24
60158,999QLMP642,RetroReel,discounted monthly,17.80,2022-06-26,2022-12-31,188,124.60

In [25]:
sub_rev_2022[sub_rev_2022.ID=='999ZGDS170']

Empty DataFrame
Columns: [ID, BRAND, SUB_DETAIL, AMOUNT, START_DATE, END_DATE, DURATION, REVENUE]
Index: []

In [26]:
sub_rev[sub_rev.ID=='999ZGDS170']

,ID,BRAND,SUB_DETAIL,AMOUNT,START_DATE,END_DATE,DURATION,REVENUE
89541,999ZGDS170,CineQuest,expired annual,60.00,2022-01-01,2023-03-02,425,120.00
89542,999ZGDS170,CineQuest,paid annual,59.99,2023-11-22,2023-12-31,39,59.99

In [27]:
sub_filtered[sub_filtered.ID=='999ZGDS170']

,Unnamed: 0,ID,BRAND,SUB_STATUS,TERM,AMOUNT,PARTITION_DATE,YEAR_MONTH,VALID_TRANSITION
132581,219210,999ZGDS170,CineQuest,expired,annual,60.00,2023-03-02,2023-03,True
132582,219211,999ZGDS170,CineQuest,discounted,annual,37.46,2023-07-28,2023-07,True
132583,219213,999ZGDS170,CineQuest,paid,annual,59.99,2023-11-22,2023-11,True